@media (min-width:480px) and (max-width:767px){
	.wrapper{
		min-width:480px; 
	}
/*==========HEADER 480px==========*/
	.header{
		padding-top: 64px;
	}

	.header-slider {
    	height: 344px;
	}

	.slider {
	   	height: 245px;
	    background: rgba(0, 0, 0, 0.2);
	    width: 100%;
	    padding-top: 0;
	}

	.header-slider__text {
	    float: left;
	    padding-left: 8%;
	    padding-top: 91px;
	    width: 42%;
	}

	.header-slider__text-title {
	    letter-spacing: 0;
	}

	.header-slider__img {
	    display: block;
	    float: right;
	    width: 40%;
	    margin-top: -10px;
	    padding-right: 6.5%;
	 }

	.header-slider__nav-item{
		margin-top: 20px;
		padding-bottom: 54px;
	}

/*==========SUB-HEADER 480px==========*/

	.sub-header__box{
		width: 99%
	}

	.sub-header__text{
		width: 82%;
	}

/*==========CONTENT 480px==========*/

	.content-posts__article{
		width: 79%;
		margin-left: 42px;
	}

	.content-updates{
		width: 71%;
		margin: 0 0 0 80px;
	}

/*==========LOGOS 480px==========*/

	.logos{
		border-bottom: 1px solid #fefefe;
	}

	.logos__box{
		width: 33%;
	}

/*==========SUB-CONTENT 480px==========*/	

	.sub-content{
		display: block;
		padding-top: 80px;
		border-top: 1px solid #d8d8d8;
		background: #ececec;
	}

	.sub-content__article{
		float: left;
		width: 91%;
		margin: 0 20px 57px;
	}

	.sub-content__header{
		padding-bottom: 16px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__text{
		height: 92px;
		overflow: hidden;
		font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #787878;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__item{
		overflow: hidden;
	}

	/*==========FOOTER 480px==========*/

	.footer-menu{
		display: block;
	}

	.footer-menu__item{
		min-width: 321px;
		position: relative;
		overflow: hidden;
		padding: 0 4% 34px;
	}

	.footer-menu__list{
		float: left;
		list-style: none;
		padding-right: 3%;
		display: inline-block;
	}
	
	.footer-menu__list:last-child{
		padding-right: 0;
	}

	.footer-menu__link{
		text-decoration: none;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 20px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		text-transform: uppercase;
		display: inline-block;

	}

	.footer{
		padding-top: 44px;
		padding-bottom: 80px;
	}
}

@media(min-width: 768px) and (max-width: 959px) {
	.wrapper{
		min-width: 768px;
	}
/*==========HEADER 768px==========*/
	.logo{
		float: left;
		margin-left: 20px;
	}

	.header{
		overflow: hidden;
	}

	.header-menu-dropdown{
		display: none;
	}

	.header-menu-horizontal{
		display: block;
	}

	.header-menu-horizontal__list{
		float: left;
		list-style: none;
		margin-right: 5%;
		padding: 0 5px 5px;
		border-bottom: 2px solid transparent;
	}

	.header-menu-horizontal__link{
		text-decoration: none;
		font-size: 24px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	}

	.header-menu-horizontal__item{
		position: relative;
		overflow: hidden;
		margin-left: 20px;
		padding-top: 35px;
		width: 100%;
	}

	.header-menu-horizontal__list:hover{
		border-bottom: 2px solid #edbfff;
	}
	
	.header-slider {
    	height: 553px;
 	}

  	.slider {
    	height: 400px;
    	background: rgba(0, 0, 0, 0.2);
    	width: 100%;
    	padding-top: 0;
    	margin-top: 78px;
  	}

	.header-slider__text {
	    float: left;
	    width: 39%;
	    padding-top: 89px;
	    padding-left: 45px;
	}

	.header-slider__text-title {
	    font-size: 48px;
	    line-height: 1.3;
	}

	.header-slider__text-second {
	    font-size: 24px;
	    height: 30px;
	    overflow: hidden;
	}

	.header-slider__text-content {
	    display: block;
	    width: 95%;
	    height: 100px;
	    overflow: hidden;
	    padding-top: 4px;
	    font-size: 16px;
	    word-wrap: break-word;
	    line-height: 1.65;
	}

	.header-slider__img {
	    display: block;
	    float: right;
	    padding-right: 6%;
	    margin-top: -25px;
	}

	.header-slider__nav-item{
		float: right;
		clear: right;
		margin-top: 36px;
		padding-bottom: 100px;
		padding-right: 16%;
	}

	/*==========SUB-HEADER 768px==========*/

	.sub-header__box{
		width: 28%;
		margin-right: 11px;
	}

	.sub-header__text{
		width: 82%;
		height: 136px;
	}
	
	.sub-header__link{
		padding-right: 0px;
	}

	/*==========CONTENT 768px==========*/
	.content{
		padding-top: 98px;
		padding-bottom: 70px;
	}

	.content-posts{
		width: 44%;
		float: left;
		margin-left: 20px;	
	}

	.content-updates{
		width: 44%;
		float: left;
		margin-right: 20px;
		margin-left: 48px;
	}

	.content{
		overflow: hidden;
	}

	.content-updates__header{
		margin-top: 23px;
	}

	/*==========LOGOS 768px==========*/

	.logos{
		border-bottom: 1px solid #fefefe;
	}

	.logos__box{
		width: 15%;
		margin-right: 1%;
	}*/

	/*==========SUB-CONTENT 768px==========*/	

	.sub-content{
		display: block;
		padding-top: 80px;
		border-top: 1px solid #d8d8d8;
		background: #ececec;
	}

	.sub-content__article{
		float: left;
		width: 28%;
		margin: 0 20px 57px;
	}

	.sub-content__header{
		padding-bottom: 16px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__text{
		height: 158px;
		overflow: hidden;
		font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #787878;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__item{
		overflow: hidden;
	}

	/*==========SUB-CONTENT 768px==========*/

	.sub-content{
		display: block;
		padding-top: 80px;
		padding-bottom: 92px;
		border-top: 1px solid #d8d8d8;
		background: #ececec;
	}

	.sub-content__article{
		float: left;
		width: 29%;
		margin: 0 2% 2%;
	}

	.sub-content__header{
		padding-bottom: 16px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__text{
		height: 158px;
		overflow: hidden;
		font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #787878;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__item{
		overflow: hidden;
	}

	/*==========FOOTER 768px==========*/

	.footer-menu{
		display: block;
	}

	.footer-menu__item{
		min-width: 321px;
		position: relative;
		overflow: hidden;
		padding: 0 4% 34px;
	}

	.footer-menu__list{
		float: left;
		list-style: none;
		padding-right: 5%;
		display: inline-block;
	}
	
	.footer-menu__list:last-child{
		padding-right: 0;
	}

	.footer-menu__link{
		text-decoration: none;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 20px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		text-transform: uppercase;
		display: inline-block;

	}

	.footer{
		padding-top: 44px;
		padding-bottom: 80px;
	}

	.footer__copyright{
		text-align: right;
		padding-right: 20px;
	}
}

@media (min-width: 960px) {
	.wrapper{
		max-width: 960px;
	}

	.logo{
		float: left;
	}

	.header-menu-dropdown{
		display: none;
	}

	.header-menu-horizontal{
		display: block;
		float: right;
		width: 68%;
	}

	.wrapper-header{
		overflow: hidden;
	}

	.header-menu-horizontal__list{
		float: left;
		list-style: none;
		margin-right: 5%;
		padding: 0 5px 5px;
		border-bottom: 2px solid transparent;
	}

	.header-menu-horizontal__link{
		text-decoration: none;
		font-size: 24px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	}

	.header-menu-horizontal__item{
		position: relative;
		overflow: hidden;
		margin-left: 20px;
		/*padding-top: 35px;*/
		width: 100%;
	}

	.header-menu-horizontal__list:hover{
		border-bottom: 2px solid #edbfff;
	}

	.header-slider {
	    height: 568px;
	}
	  
	.header-slider__bg {
	    width: 100%;
	    background: rgba(0, 0, 0, 0.2);
	    height: 400px;
	    margin-top: 166px;
	}

	.slider {
	    margin: 0 auto;
	    padding-top: 0;
	}

	.header-slider__text {
	    float: left;
	    width: 54%;
	    padding-top: 77px;
	    padding-left: 0;
	}
	  
	.header-slider__text-title {
	    font-size: 60px;
	    height: inherit;
	    line-height: 1;
	}
	  
	.header-slider__text-second {
	    font-size: 32px;
	    letter-spacing: 0;
	}
	  
	.header-slider__text-content {
	    display: block;
	    width: 99%;
	    padding-top: 5px;
	    font-size: 18px;
	    word-wrap: break-word;
	    line-height: 1.4;
	}
	  
	.header-slider__img {
	    display: block;
	    float: right;
	    padding-right: 7.2%;
	    margin-top: -17px;
	}

	.header-slider__nav-item{
		float: right;
		clear: right;
		margin-top: 92px;
		padding-bottom: 58px;
		padding-right: 16%;
	}

	/*==========SUB-HEADER 960px==========*/

	.sub-header__box{
		width: 31%;
		margin-right: 11px;
	}
	
	.sub-header__title--talks{
		background: url(../img/icon_sub-header-2.png) 0 0 no-repeat;
	}

	.sub-header__title--music{
		background: url(../img/icon_sub-header-3.png) 0 0 no-repeat;
	}

	.sub-header__text{
		width: 82%;
		height: 136px;
	}

	.sub-header__link{
		padding-right: 0px;
	}

	/*==========CONTENT 960px==========*/
	.content{
		padding-top: 98px;
		padding-bottom: 70px;
	}

	.content-posts{
		width: 44%;
		float: left;
		margin-left: 20px;
	}

	.content-updates{
		width: 47%;
		float: left;
		margin-left: 48px;
	}

	.content{
		overflow: hidden;
	}

	.content-posts__article {
		width: 82%;
	}

	.content-updates__header{
		margin-top: 23px;
	}

	/*==========LOGOS 960px==========*/

	.logos{
		border-bottom: 1px solid #fefefe;
	}

	.logos__container{
		margin-left: 92px;
	}

	.logos__box{
		width: 15%;
		margin-right: 1%;
	}

	/*==========SUB-CONTENT 768px==========*/

	.sub-content{
		display: block;
		padding-top: 80px;
		padding-bottom: 92px;
		border-top: 1px solid #d8d8d8;
		background: #ececec;
	}

	.sub-content__bonus--hidden{
		display: none;
	}

	.sub-content__bonus{
		display: block;
		float: left;
		width: 29%;
		margin: 0 2% 2%;
	}

	.sub-content__bonus-header{
		font-size: 48px;
		text-transform: uppercase;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		color: #454545;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}
	
	.sub-content__bonus-info{
		font-family: Georgia, Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #c5c5c5;
		font-style: italic;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__bonus-text{
		overflow: hidden;
		font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #787878;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
		height: 110px;
	}

	.sub-content__bonus-second{
		color: #b9b9b9;
	}

	.sub-content__article{
		float: left;
		width: 29%;
		margin: 0 2% 2%;
	}

	.sub-content__header{
		padding-bottom: 16px;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__text{
		height: 158px;
		overflow: hidden;
		font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
		font-size: 16px;
		color: #787878;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	}

	.sub-content__item{
		overflow: hidden;
	}


	/*==========FOOTER 960px==========*/

	.footer-menu{
		display: block;
		float: left;
	}

	.footer-menu__item{
		min-width: 321px;
		position: relative;
		overflow: hidden;
		padding: 0 4% 34px;
	}

	.footer-menu__list{
		float: left;
		list-style: none;
		padding-right: 5%;
		display: inline-block;
	}

	.footer-menu__list:last-child{
		padding-right: 0;
	}

	.footer-menu__link{
		text-decoration: none;
		font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
		font-size: 20px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		text-transform: uppercase;
		display: inline-block;
	}

	.footer__copyright{
		float: right;
		text-align: right;
		padding-right: 20px;
	}

	.footer{
		padding-top: 44px;
		padding-bottom: 80px;
		overflow: hidden;
	}
}