@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans Extrabold';
    src: url('../fonts/open_sansextrabold-webfont.eot');
    src: url('../fonts/open_sansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sansextrabold-webfont.woff2') format('woff2'),
         url('../fonts/open_sansextrabold-webfont.woff') format('woff'),
         url('../fonts/open_sansextrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin: 0 auto;
	width: 320px;
}

/*==========HEADER==========*/
.header{
	background: url(../img/bg_head.jpg) top center no-repeat;
	padding-top: 70px;
}

.logo{
	margin: 0 auto;
	display: block;
	width: 152px;
	height: 39px;
	background: url(../img/logo_header.png) 0 0 no-repeat;
}

.header-menu{
	margin-top: 38px;
	text-align: center;
}

.header-menu-dropdown__active{
	padding-left: 0;
}

.header-menu-dropdown__active-item{
	position: relative;
	margin: 0 auto;
	padding: 13px 0 11px;
	list-style: none;
	width: 244px;
	border: 1px solid rgba(0,0,0,0.0);
}

.header-menu-dropdown__active:after{
	content: "";
	clear: both;
	width: 100%;
	height: 0;
}

.header-menu-dropdown__active-link{
	display: block;
	box-sizing: border-box;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

}

.header-menu-dropdown__active-link-span{
	padding: 0 6px;
	border-bottom: 2px solid #edbfff
}

.header-menu-dropdown__submenu{
	display: none;
	padding-left: 0;		
	position: absolute;
	top:100%;
	left: 0;
	width: 100%;
}

.header-menu-dropdown__submenu-item{
	padding: 8px 1px 10px;
	box-sizing: border-box;
	list-style: none;
	border: 1px solid #000;
	border-top: 1px solid #523f5a;
	border-bottom: 2px solid #36283e;
	background-color: rgba(64, 51, 72, 0.7);
}

.header-menu-dropdown__active-item:hover{
	border: 1px solid #000;
	border-bottom: 2px solid #36283e;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background-color: rgba(64, 51, 72, 0.7);
}

.header-menu-dropdown__active-item:hover .header-menu-dropdown__submenu{
	display: block;
}

.header-menu-dropdown__submenu-link{
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.header-menu-dropdown__submenu .header-menu-dropdown__submenu-item:last-child{
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border: 1px solid #000;
}
.header-menu-dropdown__submenu-item:hover{
	background-color: rgba(47, 38, 52, 0.7);
	border-bottom: 2px solid #edbfff;
	transition: all 0.2s;
}

.header-slider{
	text-align: center;
	margin-top: 122px;
}

.header-slider__text-title{
	font-size: 36px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #fefefe;
}

.header-slider__text-subtitle{
	padding-left: 20px;
	font-size: 18px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #edbfff;
	text-transform: uppercase;
}

.header-slider__text-content{
	display: none;
}

.header-slider__nav-item{
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 78px auto 0;
	padding-bottom: 66px;
}

.header-slider__nav-list{
	float: left;
	list-style: none;
	margin: 0 3px;
}

.header-slider__nav-link{
	display: block;
	height: 17px;
	width: 17px;
	background: url(../img/icon_header-slider.png) 0 0 no-repeat;
	transition: 0.2s;
}

.header-slider__nav-link:hover{
	background-position: 0 -18px; 
}

/*==========SUB-HEADER==========*/

.sub-header{
	padding: 68px 0 65px;
	background: rgba(246,41,12,1);
	background: -moz-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(116,81,131,1) 0%, rgba(54,41,61,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(116,81,131,1)), color-stop(100%, rgba(54,41,61,1)));
	background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(116,81,131,1) 0%, rgba(54,41,61,1) 100%);
	background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(116,81,131,1) 0%, rgba(54,41,61,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(116,81,131,1) 0%, rgba(54,41,61,1) 100%);
	background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(116,81,131,1) 0%, rgba(54,41,61,1) 100%);
	border-top: 1px solid #000;
}

.sub-header__box{
	overflow: hidden;
	width: 95%;
	display: inline-block;
	margin: 0 auto;
}

.sub-header__title{
	background: url(../img/icon_sub-header.png) 0 0 no-repeat;
	margin-left: 30px;
	padding-left: 40px;
	font-size: 24px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #fff;
	text-transform: uppercase;

}

.sub-header__text{
	height: 67px;
	width: 200px;
	overflow: hidden;
	margin-left: 70px;
	font-size: 16px;
	font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
	color: #fff;
}

.sub-header__link{
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 22px;
	font-size: 18px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
}

.sub-header__link:hover{
	text-shadow: 1px 1px 2px #fff, 0 0 1em #fff;
}

/*==========CONTENT==========*/

.content{
	padding: 67px 0 88px;
	background: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
}

.content-posts__article{
	width: 217px;
	background: #fff;
	margin-left: 35px;
	padding: 26px 35px 29px 0px;
}

.content-posts__header{
	background: url(../img/icon_content_article.png) 0 0 no-repeat;
	margin-left: -25px;
	padding-left: 60px;
}	

.content-posts__author{
	font-size: 24px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #000;
	text-transform: uppercase;
}

.content-posts__title{
	font-size: 24px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	color: #edbfff;
	text-transform: uppercase;
}

.content-posts-text{
	height: 152px;
	overflow: hidden;
	padding-left: 35px;
	font-size: 16px;
	font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
	color: #000;
}

.content-slider__item{
	position: relative;
	overflow: hidden;
	display: table;
	margin: 20px auto 0;
	padding-bottom: 50px;
}

.content-slider__list{
	float: left;
	list-style: none;
	margin: 0 3px;
}

.content-slider__link{
	display: block;
	height: 17px;
	width: 17px;
	background: url(../img/icon_content_slider.png) 0 0 no-repeat;
	transition: 0.2s;
}

.content-slider__link:hover{
	background-position: 0 -20px; 
}

.content-updates__article{
	margin-bottom: 14px;
	padding-left: 69px;
	background: url(../img/icon_content_updates.png) 0 0 no-repeat;
}

.content-updates{
	overflow: hidden;
}

.content-updates__header{
	margin-bottom: 17px;
	font-size: 30px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	text-transform: uppercase;
}

.content-updates__title{
	margin-bottom: 8px;
	font-size: 16px;
	font-family: 'OpenSans Extrabold', Arial, Tahoma, sans-serif;
}

.content-updates__info{
	font-size: 16px;
	font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
}

.content-updates__more{
	float: right;
	margin-right: 37px;
	font-size: 18px;
	font-family: 'League Gothic Regular', Arial, Tahoma, sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	text-align: right;
}

/*==========LOGOS==========*/

.logos{
	background: #f9f9f9;
	border-top: 1px solid #fefefe;
	overflow: hidden;
	padding-bottom: 69px;
}

.logos__box{
	float: left;
	margin-top: 45px;
	width: 43%;
	height: 65px;
	line-height: 65px;
 	text-align: center;
}

.logos__img{
	vertical-align: middle;
}

/*==========FOOTER==========*/

.footer{
	background: url(../img/bg_footer.jpg) 0 0 no-repeat;
	padding-top: 33px;
	padding-bottom: 144px;
	text-align: center;
}

.footer__copyright{
	font-size: 12px;
	font-family: 'OpenSans Light', Arial, Tahoma, sans-serif;
	color: #fff;
}

.footer__copyright-company{
	font-family: 'OpenSans Extrabold', Arial, Tahoma, sans-serif;
}