*{
	margin: 0;
	padding: 0;
}

form{
	text-align: center;
	padding-top: 50px;
}

input{
	width: 250px;
	height: 30px;
	border-radius: 5px;	
}

.btn{
	width: 100px;
	height: 30px;
}

.pictures{
	margin: 5px;
	height: 440px;
	width: 800px;
	overflow: hidden;
	margin: 0 auto;
}

img{
	margin: 5px;
}