.wrap-need-for-arrows,
.jcarousel {
	width: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	&__item-2,
	&__item-3 {
		display: none;
	}
	@media (min-width: 768px) {
		width: 236px;
		&__item-2,
		&__item-3 {
			display: block;
		}
	}
	@media (min-width: 977px) {
		width: 301px;
	}
}

.jcarousel ul {
	width: 20000em;
	padding: 0;
	margin: 0;
	position: relative;
	list-style: none;
}

.jcarousel li {
	float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
	display: none;
	width: 30px;
	height: 56px;
	position: absolute;
	@media (min-width: 768px) {
		display: block;
	}
	@media (min-width: 977px) {

	}
}

.jcarousel-control-prev {
	left: 10px;
	top: 49px;
	@media (min-width: 977px) {
		left: 20px;
		top: 162px;
	}
}

.jcarousel-control-next {
	right: 10px;
	top: 49px;
	@media (min-width: 977px) {
		right: 20px;
		top: 162px;
	}
}
