@import 'base/reset',
        'base/fonts',
        'base/base';

@import 'components/carousel';

//******HEADER******
.header {
        min-height: 442px;
        min-width: 977px;
        padding: 50px 0 212px 0;
        background: #cccccc url(../img/bg_header.jpg) center no-repeat;
        background-size: cover;
        text-align: center;
        .wrap {
                padding: 0 10px;
        }
}

.header .wrap,
.wrapper {
        max-width: 960px - 10px - 10px;
        margin: 0 auto;
}

.login {
        width: 165px;
        margin: 0;
        float: right;
        &__link {
                font: 14px $MontserratBold;
                color: #fff;
                float: left;
                border: 2px solid transparent;
                border-radius: 20px;
                padding: 8px 15px;
                &:hover {
                        border: 2px solid #fff;
                        border-radius: 20px;
                        transition: $transitionDuration;
                }
        }
}

.logo {
        margin: 0;
        float: left;
        a {
                font: 20px $MontserratBold;
                color: #fff;
        }
}

.title {
        margin-top: 144px;
        font: 52px $MontserratBold;
        color: #fff;
        text-transform: uppercase;
}
.descr {
        margin-top: 21px;
        font: 24px $RobotoLight;
        color: #fff;
}

.header .btn-search-partner {
        @extend %btn-search-partner;
        margin-top: 32px;
        width: 230px;
        &:hover {
                background: #EC4547;
        }
}

//******MEET-PARTNER******

.meet-partner {
        padding-top: 95px;
}

.meet-partner h2 {
        margin-bottom: 35px;
}

.partner {
        width: 220px;
        margin: 24px auto;
        text-align: center;
        &__photo-wrap {
                width: 125px;
                margin: 0 auto;
                position: relative;
                a {
                        display: block;
                }
                &--add-icon-1:after {
                        content: url("../img/icon-partner-1.png");
                        width: 41px;
                        height: 41px;
                        position: absolute;
                        right: -2px;
                        bottom: -2px;
                }
                &--add-icon-2:after {
                        @extend .partner__photo-wrap--add-icon-1;
                        content: url("../img/icon-partner-2.png");
                }
                &--add-icon-3:after {
                        @extend .partner__photo-wrap--add-icon-1;
                        content: url("../img/icon-partner-3.png");
                }
                &--add-icon-4:after {
                        @extend .partner__photo-wrap--add-icon-1;
                        content: url("../img/icon-partner-4.png");
                }
        }
        &__name {
                margin-top: 15px;
                font: 14px $MontserratBold;
                color: #333;
        }
        &__about {
                margin-top: 11px;
                font: 14px $RobotoLight;
                color: #666;
        }
        &--margin {
                margin-top: 12px;
        }
}

.partner-wrap {
        width: 25%;
        float: left;
}

.partner {
        margin-top: 0;
        &--margin {
                margin-top: 0;
        }
        &--margin-top {
                margin-top: 0px;
        }
}

.meet-partner .btn-more-partners {
        display: block;
        width: 190px;
        padding: 10px 0;
        border: 2px solid #ff4e50;
        border-radius: 20px;
        margin: -4px auto;
        font: 14px $MontserratBold;
        color: #ff4e50;
        &:hover {
                border: 2px solid #EC4547;
                background: #EC4547;
                color: #fff;
        }
}

//******FOOTER******

.footer {
        padding: 38px 0 92px 0;
        border-top: 4px solid #ff4e50;
        margin-top: 41px;
        text-align: center;
        .logo-footer a {
                float: left;
                font: 16px $MontserratBold;
                color: #ff4e50;
        }
        .company, .partners {
                float: left;
                margin: 0 0 0 107px;
                font: 14px $MontserratBold;
                color: #333;
        }
        .partners {
                margin-left: 93px;
        }
}

.footer .wrap {
        max-width: 960px - 10px - 10px;
        padding: 0 10px;
        margin: 0 auto;
        position: relative;
}

.developer {
        margin-top: 0;
        float: right;
        text-align: right;
        &__designed {
                font: 10px $MontserratBold;
                color: #ccc;
                text-transform: uppercase;
                letter-spacing: 1px;
        }
        &__logo {
                margin-top: 10px;
        }
}

.nav {
        width: 100px;
        position: absolute;
        left: 238px;
        top: 25px;
        margin: 0 auto;
        &__item {
                margin-left: 13px;
                margin-bottom: 6px;
                float: none;
        }
        &__link {
                font: 14px $RobotoLight;
                color: #666;
                &:hover {
                        color: #EC4547;
                }
        }
}