

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: block;
  clear: both;
}

//variables for fonts
$Roboto: 'Roboto Light', Arial, sans-serif;
$MontserratRegular: 'Montserrat Regular', Arial, sans-serif;
$MontserratBold: 'Montserrat Bold', Arial, sans-serif;

a {
  text-decoration: none;
}

h2 {
  font: 22px $MontserratBold;
  color: #333;
}

//variables for colors

$btn-bg: #ff4e50;
$btn-bg-hover: #EC4547;
$color-1: #fff;

%btn-partner {
  display: block;
  width: 284px;
  padding: 11px 0;
  border-radius: 20px;
  margin: 0 auto;
  background: $btn-bg;
  font: 14px $MontserratBold;
  color: $color-1;
}