/*carusel*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: #D3D3D3;
    font-family: Tahoma sans-serif;
}

.carousel-wrapper{
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 200px;

}

.carousel-element p{
    text-align: center;
}

.carousel-hider {
    width: 650px;
    overflow: hidden;
    float: left;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}

/*JavaScript Templating*/

.profile-wrapper{
    width: 50%;
    margin: 0 auto;
}

.profile-wrapper div{
    margin-left: 30px;
}

.profile-wrapper p{
    padding-bottom: 8px;
    font-size: 18px;
}

.header-title{
    padding: 10px 0;
    text-align: center;
}

h3{
    text-align: center;
    padding: 25px 0;
}

img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.content-header{
    padding-bottom: 30px;
}

ul{
    margin-left: 25px;
    font-size: 18px;
}

hr{
    margin: 20px 0;
    height: 3px;
    color: slategray;
    background-color: slategray;
    border: none;
}
