/*carusel*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: #D3D3D3;
}

.carousel-wrapper{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 200px;

}

.carousel-element p{
    text-align: center;
    font-family: ;
}

.carousel-hider {
    width: 650px;
    overflow: hidden;
    float: left;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}

/*JavaScript Templating*/
.shablon-wrapper{
    width: 960px;
    margin: 0 auto;
    background: green;
}

hr{
    height: 3px;
    width: 70%;
    color: grey;
    background-color: grey;
    border: none;

}